In [15]:
import numpy as np

import pandas as pd

In [16]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [17]:
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [18]:
dates = pd.date_range("20130101", periods=10, freq='M')
dates

DatetimeIndex(['2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
               '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
               '2013-09-30', '2013-10-31'],
              dtype='datetime64[ns]', freq='M')

In [26]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


# df2.dtypes
# df2.info
df2.tail
df2.index

<bound method NDFrame.tail of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [22]:
df = pd.DataFrame(np.random.randn(10,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-31  1.188426 -1.219375 -0.855304 -0.136597
2013-02-28 -0.349152 -0.926517  0.343701 -0.676156
2013-03-31  0.524093 -0.023124 -0.015481 -1.142581
2013-04-30 -0.083249  1.315589 -0.640575  1.397908
2013-05-31  0.453507  0.413239 -0.533781 -0.558562
2013-06-30 -1.277202 -1.437900  1.644364  0.707760
2013-07-31 -0.313852  1.410586  1.235044  2.187921
2013-08-31 -2.158055 -2.230678 -0.509884  1.132895
2013-09-30  0.640046  1.500130  0.927701  1.014397
2013-10-31  0.798805 -1.456461 -1.081907 -1.410620